{% load static %}
<!DOCTYPE html>
<html>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% block description %}{% endblock %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<link rel="stylesheet" href="{% static "website/css/style.css" %}">
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:350px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Menü Schließen</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Physiotherapie<br>Hartmann</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'website:home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="{% url 'website:open' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Öffnungszeiten</a>
    <a href="{% url 'website:leistung' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Leistung</a>
    <a href="{% url 'website:praxis' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Praxis</a>
    <a href="{% url 'website:team' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Team</a>
    <a href="{% url 'website:impressum' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Impressum</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Physiotherapie Hartmann</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:390px;margin-right:40px">
  {% block content %}{% endblock %}
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

</script>

</body>
</html>
