{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<div class="w3-container" style="margin-top:80px" id="home">
    <h1 class="w3-jumbo"><b>Physiotherapie Daniela Hartmann</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Willkommen.</b></h1>
    <hr class="w3-round red-maincontent">

    <div class="w3-container w3-cell w3-mobile" style="padding-left: 0px">
        <img src="{% static "website/pictures/daniela.jpg" %}" alt="Logo" id="picture-daniela">
    </div>

    <div class="w3-container w3-cell w3-mobile" style="padding-left: 0px">
        <p>Ich bin Physiotherapeutin mit Leidenschaft. 1990 legte ich die Prüfung zur staatlich geprüften Physiotherapeutin ab
        und verbrachte anschließend mehrere Jahre als Therapeutin für verschiedene Fachrichtungen in einem Privatsanatorium
        in Bad Pyrmont. Doch um meinen Traum einer eigenen Praxis zu verwirklichen, entschloss ich mich, wieder zurück in
        die Heimat zu kommen. Seit 1999 führe ich diese nun bereits erfolgreich.</p>

        <p>Neben der klassischen Physiotherapie nutze ich für meine Patienten gern ganzheitliche Therapieansätze. So
        absolvierte ich u.a. mit viel Freude eine Weiterbildung zur Shiatsu Therapeutin in Hamburg und die
        Kairosmethode nach Dr. Karsten Wurm wurde ebenfalls sehr schnell zum Schwerpunkt meiner Behandlungen, als
        sektorale Heilpraktikerin in der Physiotherapie.</p>

    </div>
</div>
{% endblock %}
