{% extends 'website/base.html' %}
{% block content %}
<div class="w3-container" style="margin-top:80px" id="leistung">
    <h1 class="w3-xxxlarge w3-text-red"><b>Leistung.</b></h1>
    <hr class="w3-round red-maincontent">
    <ul class="w3-ul w3-large">
        <li>Manuelle Therapie</li>
        <li>Krankengymnastik</li>
        <li>Massage ( klassisch, BGM‚ Periost‚ Colon )</li>
        <li>Krankengymnastik</li>
        <li>Manuelle Lymphdrainage</li>
        <li>SHIATSU</li>
        <li>Kinesiologisches Tapen</li>
        <li>Fußreflexzonentherapie</li>
        <li>Ultraschall</li>
        <li>Rotlicht</li>
        <li>Fango Packungen</li>
        <li>Heiße Rolle</li>
        <li>Schröpfen</li>
        <li>Schumann Vibrationsplatte</li>
    </ul>
</div>
{% endblock %}
