{% extends 'website/base.html' %}
{% block content %}
<div class="w3-container" style="margin-top:80px" id="home">
  <h1 class="w3-xxxlarge w3-text-red"><b>Öffnungszeiten.</b></h1>
  <hr class="w3-round red-maincontent">
  <p>Auf dieser Seite finden Sie unsere regulären Öffnungszeiten. Sind keine passenden Zeiten für Sie dabei? Rufen Sie uns unter der Nummer <a href="tel:03516411124">0351/6411124</a> an oder schreiben
     Sie uns eine E-Mail an <a href="mailto:physio-hartmann@gmx.de">physio-hartmann@gmx.de</a> und wir finden gemeinsam eine Lösung.</p>
  <table class="w3-table">
    <tr class="w3-red">
      <th>Tag</th>
      <th>Zeit</th>
    </tr>
    <tr class="w3-light-gray">
      <td>Montag</td>
      <td>8.30	-	18.00</td>
    </tr>
    <tr class="w3-light-gray">
      <td>Dienstag</td>
      <td>8.00	-	18.00</td>
    </tr>
    <tr class="w3-light-gray">
      <td>Mittwoch</td>
      <td>8.00	-	18.00</td>
    </tr>
    <tr class="w3-light-gray">
      <td>Donnerstag</td>
      <td>8.00	-	18.00</td>
    </tr>
    <tr class="w3-light-gray">
      <td>Freitag</td>
      <td>8.00	-	12.00</td>
    </tr>
  </table>
</div>
{% endblock %}
