{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<div class="w3-container" style="margin-top:80px" id="home">
    <h1 class="w3-xxxlarge w3-text-red"><b>Praxis.</b></h1>
    <hr class="w3-round red-maincontent">
    <div class="w3-row-padding w3-margin-top">
        <div class="w3-third">
            <div class="w3-card">
                <img src="{% static "website/pictures/praxis_1.jpg" %}" style="width:100%">
                <div class="w3-container">
                    <h5>Rezeption</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <img src="{% static "website/pictures/praxis_18.jpg" %}" style="width:100%">
                <div class="w3-container">
                    <h5>Wartebereich</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <img src="{% static "website/pictures/praxis_3.jpg" %}" style="width:100%">
                <div class="w3-container">
                    <h5>Behandlungszimmer 1</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-row-padding w3-margin-top">
        <div class="w3-third">
            <div class="w3-card">
                <img src="{% static "website/pictures/praxis_6.jpg" %}" style="width:100%">
                <div class="w3-container">
                    <h5>Behandlungszimmer 2</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <img src="{% static "website/pictures/praxis_16.jpg" %}" style="width:100%">
                <div class="w3-container">
                    <h5>Behandlungszimmer 3</h5>
                </div>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card">
                <img src="{% static "website/pictures/praxis_8.jpg" %}" style="width:100%">
                <div class="w3-container">
                    <h5>Behandlungszimmer 4 (SHIATSU)</h5>
                </div>
            </div>
        </div>
    </div>
<br>
</div>
{% endblock %}
