{% extends 'website/base.html' %}
{% block content %}
<div class="w3-container" style="margin-top:80px" id="home">
    <h1 class="w3-xxxlarge w3-text-red"><b>Team.</b></h1>
    <hr class="w3-round red-maincontent">
    <div class="w3-container w3-half" style="padding-left: 0px">
        <div class="w3-card-4">
            <header class="w3-container w3-red">
                <h1>Daniela Hartmann</h1>
            </header>
            <div class="w3-container">
                <ul class="w3-ul">
                    <li>Physiotherapie</li>
                    <li>Sektorale Heilpraktikerin in der Physiotherapie</li>
                    <li>Manuelle Therapie</li>
                    <li>SHIATSU</li>
                    <li>Kinesiologisches Tapen</li>
                    <li>Kairos Methode</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w3-container w3-half" style="padding-left: 0px">
        <div class="w3-card-4">
            <header class="w3-container w3-red">
                <h1>Susann Schlecht</h1>
            </header>
            <div class="w3-container">
                <ul class="w3-ul">
                    <li>Physiotherapie</li>
                    <li>Sektorale Heilpraktikerin in der Physiotherapie</li>
                    <li>Lymphdrainage</li>
                    <li>Manuelle Therapie</li>
                    <li>Marnitztherapie</li>
                    <li>Hotstone - Massage</li>
                    <li>Honigmassage</li>
                    <li>Kinesiotaping</li>
                    <li>Zentrifugalmassage</li>
                    <li>Rückenschule</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
